@import "src/style/colors.scss";

.button {
  background-color: initial;
  border: none;
  font-weight: 500;
  display: block;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;

  &__primary {
    background-color: $blue;
    color: #fff;
    font-size: 13px;
  }

  &__link {
    color: $blue;
    font-size: 11px;
    text-align: center;
  }
}
