.profile {
  display: flex;
  height: 100vh;

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;

    &__detail {
      margin-bottom: 88px;
      text-align: center;
    }

    &__name {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 10px;
      margin-bottom: 40px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 510px;
    margin-top: 50px;

    &__save {
      width: 280px;
    }
  }

  .input-file-container {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: $blue;
    text-decoration: underline;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }

  .download-error {
    color: $red;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
  }
}
