.profile {
  display: flex;
  height: 100vh;

  .comeback {
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    width: 64px;
    justify-content: center;

    &__arrow {
      cursor: pointer;
      border-radius: 50%;
      background-color: #3369f3;
      color: #ffff;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;

    &__detail {
      margin-bottom: 88px;
      text-align: center;
    }

    &__avatar {
      cursor: pointer;
      width: 130px;
      height: 130px;
      margin-top: 20px;
    }

    &__name {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 10px;
      margin-bottom: 40px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 510px;
    margin-top: 50px;

    &__save {
      width: 280px;
    }
  }

  .input-file-container {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: $blue;
    text-decoration: underline;
    text-align: center;
    max-width: 122px;
  }

  .input-file {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
  }

  .download-error {
    color: $red;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
  }
}
