@import "src/style/colors.scss";

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.search-input {
  width: 290px;
  height: 32px;
  border-radius: 5px;
  border: none;
  background: $background;

  &__placeholder {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: $gray;
  }

  &__title {
    margin: 0 0 0 5px;
  }

  &:focus-visible {
    outline: none;
  }
}
