<div class="search-container">
  <input type="text" class="search-input" />
  <div class="search-input__placeholder">
    <img src="assets/search.svg" alt="search" />
    <p class="search-input__title">Поиск</p>
  </div>
</div>
