<div class="list-chat">
        {{> Field }}
                {{!-- {{> ChatCard }}
                 --}}
                   {{!-- {{#each messages}}
    <div class="comment">
      <h2>{{subject}}</h2>
      {{{body}}}
    </div>
  {{/each}} --}}
</div>
