@import "src/style/colors.scss";

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 60%);
  position: fixed;
  inset: 0;
  z-index: 10;

  .modal {
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 #00000024;
    width: 340px;
    height: 257px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .modal-header {
    font-weight: 500;
    font-size: 15px;
  }
}
