<div class="modal-wrapper">
    <div class="modal">
        <div class="modal__header">{{title}}</div>
        <div class="modal__body"><a class="link">{{text}}</a></div>
        <div class="modal__footer">
            {{> Button label="Поменять" type="primary"}}
        </div>
    </div>
</div>
