<ul class="profile-button">
    <li class="profile-button__item profile-button__item-blue" page="login">Изменить данные</li>
    <li class="profile-button__item profile-button__item-blue">Изменить пароль</li>
    <li class="profile-button__item profile-button__item-red">Выйти</li>
</ul>
