@import "src/style/colors.scss";

.messages-header {
  padding: 10px;
  border-bottom: 1px solid $background;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navigation {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .fa-list-ul:hover {
    cursor: pointer;
  }
}

.user-info {
  display: flex;
  align-items: center;

  &__avatar {
    width: 34px;
    height: 34px;
    background: #efefef;
    border-radius: 50%;
  }

  &__name {
    margin-left: 5px;
  }
}
