<div class="messages-header">
    <div class="user-info">
        <div class="user-info__avatar"></div>
        <span class="user-info__name">Вадим</span>
    </div>
    <div class="navigation">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
    </div>
</div>
