<div class="chat-container">
<div class="chat-card">
  <div class="round"></div>
  <div class="message">
    <div class="content__info">
      <p class="content__user">{{name}}</p>
      <span class="content__time">{{time}}</span>
    </div>
    <div class="content__message">
      {{message}}
    </div>
  </div>

</div></div>
