.chat-container {
  width: 100%;
  height: 75px;

  &__item {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #eaeaea;
  }
}

.user-avatar {
  width: 47px;
  height: 47px;
  background: #efefef;
  border-radius: 50%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__user {
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    padding-bottom: 5px;
  }

  &__time {
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    color: #999999;
  }
}

.content-detail {
  display: flex;
  justify-content: space-between;

  &__message {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #999999;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 193px;
  }

  &__message-your {
    font-weight: 600;
    color: #1e1e1e;
  }

  &__message-count {
    width: 20px;
    height: 20px;
    color: #ffff;
    border-radius: 50%;
    background-color: #3369f3;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
  }
}

p {
  margin: 0;
}
