<div class="search-container">
  <input type="text" class="search-input" />
  <div class="search-input__placeholder">
    <img src="assets/search.svg"  alt="search" />
      {{!-- <img src={{search-icon}}  alt="search" /> --}}
    <p>Поиск</p>
  </div>
</div>
